
<div class="container" id="home-container">
<div class="jumbotron text-center">
    <h1 class="display-4"> The Blog Spot </h1>
    <p class="lead"> A place to write what you know and feel</p>
    
    <p>Tell the world a story</p>
    <a class='btn btn-md' href='/articles' role="button"> Browes Articles </a>
</div>
</div>
<%# <%= link_to 'Articles listing', articles_path %> 
<%# <%= link_to 'About page', about_path %>  
