
<div class="container" id="home-container">
<div class="jumbotron text-center">
    <h1 class="display-4"> The Blog Spot </h1>
    <p class="lead">lorem ipsom</p>
    <hr class="my-4">
    <p>lorem ipsom</p>
    <a class='btn btn-primary btn-md' href='#' role="button"> Learn More </a>
</div>
</div>
<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %>
